/*Navigation*/
.nav-bar {
    display: flex;
    justify-content: flex-end;
    background: #141e28;
    opacity: 100%;
    z-index: 1;
    border: 0;
    font-size: large;
    box-shadow: 1px 1px 1px black;
}

.title-text {
    font-weight: bold;
    font-size: xx-large;
    padding-right: 10%;
    color: lightgray;
}

.paths-container{
    width: 100%;
}

/*Main page*/
.main-page {
    background-color: #141e28;
    justify-content: center;
    height: 95vh;
}

.main-text {
    color: white;
}

.main-button {
    display: flex;
    padding-top: 40px;
    padding-right: 20px;
}

.query-button {
    margin-right: 15px;
}

.main-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.main-image {
    display: block;
    margin-top: 10%;
    margin-bottom: auto;
}

.main-text {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: auto;
    font-size: 40px;
    color: white;
}

.email-input {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 25%;
    padding-right: 25%;
    color: white;
    font-size: large;

}

.email-button-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.email-button {
    padding-right: 10px;
}

.email-header {
    padding-bottom: 12px;
    padding-right: 8px;
}

.main-content {
    padding-top: 2%;
    width: 30%
}

.email-form {
    padding-bottom: 18px;
}

