/*Navigation*/
.nav-bar {
    display: flex;
    background: #141e28;
    opacity: 100%;
    z-index: 1;
    border: 0;
    font-size: large;
    box-shadow: 1px 1px 1px black;
    height: 6vh;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.title-text {
    font-weight: bold;
    font-size: xx-large;
    padding-right: 10%;
    color: lightgray;
}

.link-text {
    color: white;
}

.paths-container{
    width: 100%;
}

/*Main page*/
.main-page {
    background-color: #141e28;
    justify-content: center;
    height: 95vh;
}

.user-box {
    background: #141e28;
    border-radius: 10px;
    width: 29em;
    height: 23em;
    padding-left: 30px;
    margin-top: 30px;
    box-shadow: 0 4px 5px darkgray inset;
}

.main-text {
    color: white;
}

.main-btns {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 27em;
}

.query-button {
    margin-right: 15px;
}

.main-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.main-image {
    display: block;
    margin-top: 10%;
    margin-bottom: auto;
}

.main-text {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: auto;
    font-size: 40px;
    color: white;
}

.sub-text {
    font-size: large;
    color: #ffffff;
    padding-left: 10px;
    margin-bottom: 20px;
}

.email-input {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 10%;
    padding-right: 25%;
    color: white;
    font-size: large;
}

.email-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    width: 12em;
}

.email-button {
    padding-bottom: 10px;
}

.modal-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    width: 100%;
}

.email-header {
    padding-bottom: 12px;
    padding-right: 8px;
}

.main-content {
    padding-top: 5%;
    padding-left: 6%;
    width: 40%;
}

.email-form {
    padding-bottom: 18px;
}

