html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*Reports*/
.report-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    overflow-y: scroll;
    /*border: solid green 3px;*/
}

.report-body {
    display: flex;
    flex-direction: column;
    /*border: solid black 3px;*/
}

.report-header {
    width: 100vw;
    height: 60px;
    position: sticky;
    background-color: #f4f3f1;
    box-shadow: 0 2px 3px 0 darkgray;
 }

.report-header-btn {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.datetime-pickers {
    border-radius: 10px;
    height: 40px;
    position: absolute;
    margin-right: 20px;
}

.back-btn {
    height: 30px;
    width: 30px;
}

.recent-selector {
    width: 100px;
    height: 41px;
    margin-right: 20px;
    margin-left: 20px;
}

.header-text {
    color: #606060;
    font-weight: bold;
    margin-left: 20px;
}

/*Card formatting*/
.card {
    width: 600px;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 darkgray;
    z-index: -1;
}

.card-container {
    width: 100vw;
    height: 100vh;
    /*border: solid red 3px;*/
}

.graph-report {
    position: relative;
    overflow: hidden;
}

