html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*Reports*/
.report-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    /*border: solid green 3px;*/
}

.report-body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    /*border: solid black 3px;*/
}

/*Header*/
.report-header {
    width: 100vw;
    height: 60px;
    position: sticky;
    background-color: #f4f3f1;
    box-shadow: 0 2px 3px 0 darkgray;
	z-index: 2;
}

.report-header-btn {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.datetime-pickers {
    border-radius: 10px;
    height: 40px;
    margin-right: 20px;
}

.back-btn {
    height: 30px;
    width: 30px;
}

.recent-selector {
    width: 100px;
    height: 41px;
    margin-right: 20px;
    margin-left: 20px;
}

.header-text {
    color: #606060;
    font-weight: bold;
    margin-left: 20px;
}

/*Card formatting*/
.card {
    width: 800px;
    height: 450px;
	/*width: 82vw;
	height: 500px;*/
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 darkgray;
    z-index: -1;
}

.card-container {
    width: 100vw;
    height: 100vh;
	z-index: 1;
	/*overflow-v: scroll;
    overflow-y: scroll;*/
    /*border: solid red 3px;*/
}

.graph-report {
    position: relative;
    overflow: hidden;
	z-index: 0;
	overflow-y: scroll;
    overflow-x: scroll;
}

#toptitle{
	font-weight: bold;
	font-size: 20px;
    box-shadow: 0 2px 3px 0 darkgray;
	background-color: #000000;
	color: #f4f3f1;
	width: 100%;
}

#toptitle2{
	text-indent: 20px;
	font-weight: bold;
	font-size: 18px;
    box-shadow: 0 2px 3px 0 darkgray;
}

#tablechart{
	text-indent: 20px;
	font-weight: bold;
	font-size: 20px;
	box-shadow: 0 2px 3px 0 darkgray;
	background-color: #000000;
	color: #f4f3f1;
	overflow-y: scroll;
	overflow-x: hidden;
}

#fieldnames2{
    font-weight: bold;
	font-size: 18px;
}

#traces{
	box-shadow: 0 2px 3px 0 darkgray;
	background-color: #f4f3f1;
	color: #000000;
	border: 1px solid black;
	width: 100%;
	height: 100%;
}

#fieldnames{
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	box-shadow: 0 2px 3px 0 darkgray;
	background-color: #000000;
	border: 1px solid black;
	margin-top: 15px;	 
}

#data{
	font-weight: bold;
	font-size: 15px;
}

#data2{
	font-weight: bold;
	font-size: 15px;
}

#newcontent3{
	font-weight: bold;
}

#pause{
	font-weight: bold;
	font-size: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	background-color: #f44336; /* Red */ 
	color: white;
	border-radius: 5px;
}