/*Container*/
.report-container {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    /*border: solid green 3px;*/
}

/*Card formatting*/
.card {
    width: 33%;
    height: 400px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 darkgray;
    /*border: solid red 3px;*/
}

.card-container {
    /*display: flex;*/
    /*justify-content: center;*/
    width: 100vw;
    height: 100vh;
    position: relative;
    /*border: solid yellow 3px;*/
}

.graph-report {
    width: fit-content;
    height: auto;
    /*border: solid black 3px;*/
}

