/*Sidebar container*/
.sidebar {
    height: 86vh;
    width: 22em;
    z-index: auto;
    left: 0;
    background-color: #f4f3f1;
    box-shadow: 0 2px 2px 0 darkgray inset;
    border-top: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: sticky;
    position: -webkit-sticky;
}

.sidebar-title {
    display: flex;
    justify-content: space-around;
    color: #606060;
    font-size: x-large;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    /*box-shadow: 0 1px 2px 0 darkgray;*/
    box-shadow: 1px 1px 1px lightgray;
    padding-bottom: 10px;
}

.sidebar-info {
    display: flex;
    justify-content: center;
    font-size: large;
    color: #606060;
    margin-bottom: 10px;
    font-weight: bold;
}

/*Buttons*/
.gen-button {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 1em;
    font-size: x-large;
    position: sticky;
}

.gen-button-container {
    display: flex;
    justify-content: center;
    /*box-shadow: 1px 0 1px lightgray;*/
    background-color: #f4f3f1;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    bottom: 0;
    /*position: absolute;*/
    width: 100%;
}

.back-arrow-btn {
    width: 50px;
    height: 40px;
    opacity: 0;
    display: flex;
    justify-content: center;
}

.back-arrow {
    width: 30px;
    height: 30px;
    padding-top: 3px;
    margin-right: -60px;
    margin-left: -35px;
}

.back-arrow-container {
    display: flex;
    justify-content: center;
}

/*Checkboxes*/
.selection-buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    bottom: 0;
    margin-bottom: 7%;
}

.check-selections {
    padding-bottom: 5px;
    padding-left: 14%;
}

.checkbox-selection-btn {
    align-content: flex-end;
    height: 100%;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    font-size: large;
    color: #606060;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
}