.user-container {
    display: flex;
    flex-direction: column;
}

/*Jumbotron and header*/
.jumbo-container {
    display: flex;
    justify-content: center;
}

.jumbotron {
    background-color: #E9ECEF;
    margin: 5em;
    height: 10em;
    width: 50%;
}

.jumbo-header {
    display: flex;
    flex-direction: row;
    height: 25px;
}

/*Sections and user info*/
.section-container {
    display: flex;
    justify-content: center;
}

.info-sections {
    width: 50%;
}

.section-btn {

}